<form autocomplete="off">
  <fieldset>
    <legend>{{localize "RNDNPCS.CATEGORIES.COMPANY"}}</legend>
    <div class="info-table">
      <label for="name">{{localize "RNDNPCS.CORP.NAME"}}</label>
      <input id="name" type="text" value="{{name}}" />
      <a class="redo-btn" data-field="name"><i class="fas fa-redo"></i></a>

      <label for="ceo" >{{localize "RNDNPCS.CORP.CEO"}}</label>
      <input id="ceo" type="text" value="{{ceo}}" />
      <a class="redo-btn" data-field="ceo"><i class="fas fa-redo"></i></a>

      <label for="area">{{localize "RNDNPCS.CORP.AREA"}}</label>
      <input id="area" type="text" value="{{area}}" />
      <a class="redo-btn" data-field="area"><i class="fas fa-redo"></i></a>

      <label for="slogan" >{{localize "RNDNPCS.CORP.SLOGAN"}}</label>
      <input id="slogan" type="text" value="{{slogan}}" />
      <a class="redo-btn" data-field="slogan"><i class="fas fa-redo"></i></a>

      <label for="bestseller" >{{localize "RNDNPCS.CORP.BESTSELLER"}}</label>
      <input id="bestseller" type="text" value="{{bestseller}}" />
      <a class="redo-btn" data-field="bestseller"><i class="fas fa-redo"></i></a>
    </div>
  </fieldset>
  <div class="form-action-btns">
    <a class="export-btn form-btn">
      <p>{{localize "RNDNPCS.MISC.TO_JE"}}</p>
      <i class="fas fa-book-open"></i>
    </a>
    <a class="redo-btn form-btn" data-field="all">
      <p>{{localize "RNDNPCS.MISC.REDO_ALL"}}</p>
      <i class="fas fa-redo"></i>
    </a>
  </div>
</form>