<form class="actor-sheet {{cssClass}}" autocomplete="off">
  <fieldset>
    <legend>{{localize "RNDNPCS.CATEGORIES.ID"}}</legend>
    <label for="id-name">Name</label>
    <input id="id-name" type="text" value="{{faker 'name.firstName'}} {{faker 'name.lastName'}}" default="Name" />
  </fieldset>
  <fieldset>
    <legend>{{localize "RNDNPCS.CATEGORIES.FAMILY"}}</legend>
  </fieldset>
  <fieldset>
    <legend>{{localize "RNDNPCS.CATEGORIES.JOB"}}</legend>
  </fieldset>
</form>